In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master('local').appName('minTemp').getOrCreate()

In [4]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType

schema = StructType([
    StructField('stationID', StringType(), True),
    StructField('date', IntegerType(), True),
    StructField('measure_type', StringType(), True),
    StructField('temperature', FloatType(), True)
])

In [5]:
df = spark.read.schema(schema).csv('1800.csv')
df.show(4)

+-----------+--------+------------+-----------+
|  stationID|    date|measure_type|temperature|
+-----------+--------+------------+-----------+
|ITE00100554|18000101|        TMAX|      -75.0|
|ITE00100554|18000101|        TMIN|     -148.0|
|GM000010962|18000101|        PRCP|        0.0|
|EZE00100082|18000101|        TMAX|      -86.0|
+-----------+--------+------------+-----------+
only showing top 4 rows

In [11]:
#from pyspark.sql.functions import col

# Min temperature by station
(
    df
    .filter('measure_type == "TMIN"')
    .groupby('stationID')
    .min('temperature')
).show(5)

+-----------+----------------+
|  stationID|min(temperature)|
+-----------+----------------+
|ITE00100554|          -148.0|
|EZE00100082|          -135.0|
+-----------+----------------+

In [46]:
from pyspark.sql import functions as func
from pyspark.sql.functions import col

df.withColumn(
    'temperature',
    col('temperature')
).show(4)

+-----------+--------+------------+-----------+
|  stationID|    date|measure_type|temperature|
+-----------+--------+------------+-----------+
|ITE00100554|18000101|        TMAX|      -75.0|
|ITE00100554|18000101|        TMIN|     -148.0|
|GM000010962|18000101|        PRCP|        0.0|
|EZE00100082|18000101|        TMAX|      -86.0|
+-----------+--------+------------+-----------+
only showing top 4 rows

In [42]:
df.filter(df.stationID == 'ITE00100554').select('date').distinct().sort('date').show(150)

+--------+
|    date|
+--------+
|18000101|
|18000102|
|18000103|
|18000104|
|18000105|
|18000106|
|18000107|
|18000108|
|18000109|
|18000110|
|18000111|
|18000112|
|18000113|
|18000114|
|18000115|
|18000116|
|18000117|
|18000118|
|18000119|
|18000120|
|18000121|
|18000122|
|18000123|
|18000124|
|18000125|
|18000126|
|18000127|
|18000128|
|18000129|
|18000130|
|18000131|
|18000201|
|18000202|
|18000203|
|18000204|
|18000205|
|18000206|
|18000207|
|18000208|
|18000209|
|18000210|
|18000211|
|18000212|
|18000213|
|18000214|
|18000215|
|18000216|
|18000217|
|18000218|
|18000219|
|18000220|
|18000221|
|18000222|
|18000223|
|18000224|
|18000225|
|18000226|
|18000227|
|18000228|
|18000301|
|18000302|
|18000303|
|18000304|
|18000305|
|18000306|
|18000307|
|18000308|
|18000309|
|18000310|
|18000311|
|18000312|
|18000313|
|18000314|
|18000315|
|18000316|
|18000317|
|18000318|
|18000319|
|18000320|
|18000321|
|18000322|
|18000323|
|18000324|
|18000325|
|18000326|
|18000327|
|18000328|
|18000329|
|18000330|
|18000331|
|18000401|
|18000402|
|18000403|
|18000404|
|18000405|
|18000406|
|18000407|
|18000408|
|18000409|
|18000410|
|18000411|
|18000412|
|18000413|
|18000414|
|18000415|
|18000416|
|18000417|
|18000418|
|18000419|
|18000420|
|18000421|
|18000422|
|18000423|
|18000424|
|18000425|
|18000426|
|18000427|
|18000428|
|18000429|
|18000430|
|18000501|
|18000502|
|18000503|
|18000504|
|18000505|
|18000506|
|18000507|
|18000508|
|18000509|
|18000510|
|18000511|
|18000512|
|18000513|
|18000514|
|18000515|
|18000516|
|18000517|
|18000518|
|18000519|
|18000520|
|18000521|
|18000522|
|18000523|
|18000524|
|18000525|
|18000526|
|18000527|
|18000528|
|18000529|
|18000530|
+--------+
only showing top 150 rows

In [24]:
df.select((df.measure_type == 'TMIN').alias('a')) \
    .show(4)

+-----+
|    a|
+-----+
|false|
| true|
|false|
|false|
+-----+
only showing top 4 rows