In [7]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master('local').appName('friendsHeader').getOrCreate()

people = spark.read.option('header', 'true').option('inferSchema', 'true') \
        .csv('fakefriends-header.csv')

people.limit(3).show()

+------+--------+---+-------+
|userID|    name|age|friends|
+------+--------+---+-------+
|     0|    Will| 33|    385|
|     1|Jean-Luc| 26|      2|
|     2|    Hugh| 55|    221|
+------+--------+---+-------+

In [8]:
people.printSchema()

root
 |-- userID: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- friends: integer (nullable = true)

In [5]:
people.select('name').limit(3).show()

+--------+
|    name|
+--------+
|    Will|
|Jean-Luc|
|    Hugh|
+--------+

In [12]:
people.filter(people.age >= 18).limit(3).show()

+------+--------+---+-------+
|userID|    name|age|friends|
+------+--------+---+-------+
|     0|    Will| 33|    385|
|     1|Jean-Luc| 26|      2|
|     2|    Hugh| 55|    221|
+------+--------+---+-------+

In [16]:
people.groupBy('age').count().show()

+---+-----+
|age|count|
+---+-----+
| 31|    8|
| 65|    5|
| 53|    7|
| 34|    6|
| 28|   10|
| 26|   17|
| 27|    8|
| 44|   12|
| 22|    7|
| 47|    9|
| 52|   11|
| 40|   17|
| 20|    5|
| 57|   12|
| 54|   13|
| 48|   10|
| 19|   11|
| 64|   12|
| 41|    9|
| 43|    7|
+---+-----+
only showing top 20 rows

In [18]:
people.select(people.name, people.age + 10).show(3)

+--------+----------+
|    name|(age + 10)|
+--------+----------+
|    Will|        43|
|Jean-Luc|        36|
|    Hugh|        65|
+--------+----------+
only showing top 3 rows